:root {
  --primary-color: black;
  --secundary-color: white;
  --tertiary-color: gray;
}


@media only screen and (min-width: 1px) {

  .main-container {
    padding-top: var(--padding-margin-medium);
    font-size: var(--font-size-small);
    line-height: var(--line-height-normal);
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "main-item-1 main-item-1"
      "main-item-2 ."
      "main-item-3 main-item-3"
  }
}

@media only screen and (min-width: 568px) {

  .main-container {
    font-size: var(--font-size-large);
    line-height: var(--line-height-tight);
  }
}

@media only screen and (min-width: 768px) {

  .main-container {
    grid-template-areas:
      "main-item-1 main-item-1 ."
      "main-item-2 . ."
      "main-item-3 main-item-3"
  }
}

@media only screen and (min-width: 1112px) {
  
  .main-container {
    grid-template-areas:
      ". main-item-1 main-item-1 ."
      ". main-item-2 . ."
      ". main-item-3 main-item-3 ."
  }
}

@media only screen and (min-width: 1920px) {

  .main-container {
    font-size: var(--font-size-extralarge);
  }
}