:root {
  --primary-color: black;
  --secundary-color: white;
  --tertiary-color: gray;
}

img {
  min-width: auto;
  max-width: 100%;
  min-height: auto;
  max-height: 100%;
}


@media only screen and (min-width: 1px) {

  article {
    grid-template-rows: auto calc(100vh - 108px) auto;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 54px;
  }
}


@media only screen and (min-width: 768px) {
  article {
    grid-template-rows: auto calc(100vh - 116.5px) auto;
  }

  .main-container {
    padding-bottom: 58.25px;
  }
}


@media only screen and (min-width: 1112px) {
  article {
    grid-template-rows: auto calc(100vh - 84.5px) auto;
  }

  .main-container {
    padding-bottom: 42.25px;
  }
}


@media only screen and (min-width: 1680px) {

  article {
    grid-template-rows: auto calc(100vh - 62.5px) auto;
  }

  .main-container {
    padding-bottom: 31.25px;
  }
}


@media only screen and (min-width: 1920px) {
  article {
    grid-template-rows: auto calc(100vh - 65.5px) auto;
  }

  .main-container {
    padding-bottom: 32.75px;
  }
}