@media only screen and (min-width: 1px) {

  .main-container {
    grid-template-areas:
      "main-item-1 main-item-2"
      "main-item-3 main-item-4"
      "main-item-5 main-item-6"
      "main-item-7 main-item-8"
      "main-item-9 main-item-10"
      "main-item-11 main-item-12"
  }
}
  

@media only screen and (min-width: 768px) {

  .main-container {
    grid-template-areas:
      "main-item-1 main-item-2 main-item-3"
      "main-item-4 main-item-5 main-item-6"
      "main-item-7 main-item-8 main-item-9"
      "main-item-10 main-item-11 main-item-12"
  }

  #main-item-5[data-aos=fade-up] {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  #main-item-6[data-aos=fade-up] {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


@media only screen and (min-width: 1112px) {

  .main-container {
    grid-template-areas:
      "main-item-1 main-item-2 main-item-3 main-item-4"
      "main-item-5 main-item-6 main-item-7 main-item-8"
      "main-item-9 main-item-10 main-item-11 main-item-12"
  }

  #main-item-7[data-aos=fade-up] {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  #main-item-8[data-aos=fade-up] {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}